*                   @Leadformance/cuir-cuir-moustache
build.gradle        @Leadformance/cuir-cuir-moustache @Leadformance/dependabot-approvers
gradle.properties   @Leadformance/cuir-cuir-moustache @Leadformance/dependabot-approvers
